<!DOCTYPE html>
<html ng-app="acmKiosk">
  <head>
    <meta charset="utf-8">
    <title>Kiosko ACM-PUC</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="bower_components/semantic/dist/semantic.min.css" rel="stylesheet">
    <link href="bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="styles/master.min.css" rel="stylesheet">
  </head>
  <body ng-controller="appController as appCtrl">
    <div class="wrapper flex-column">
      <top-bar class="bar" ng-if="appCtrl.currentUser()"></top-bar>
      <div class="ui container views flex-column" ng-view></div>
      <bot-bar class="bar"></bot-bar>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic/dist/semantic.min.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>
