<!DOCTYPE html>
<html ng-app="acmKiosk">
  <head>
    <meta charset="utf-8">
    <title>Kiosko ACM-PUC</title>
    <link href="bower_components/semantic/dist/semantic.min.css" rel="stylesheet">
    <link href="bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="master.css" rel="stylesheet">
  </head>
  <body>
    <nav-bar></nav-bar>

    <div class="ui container" ng-view></div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic/dist/semantic.min.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="app.js"></script>
    <script src="master.js"></script>
  </body>
</html>
