<div class="ui inverted stackable labeled icon fixed menu" ng-show="navBarCtrl.sessionService.getIdentity()">
  <a class="item" ng-href="/#/">
    <i class="home icon"></i>
    <span>Kiosko ACM-PUC</span>
  </a>
  <a class="item" ng-href="/#/productElection">
    <i class="shop icon"></i>
    <span>Votar</span>
  </a>
  <a class="item" ng-href="/#/stock">
    <i class="bar chart icon"></i>
    <span>Stock</span>
  </a>
  <a class="item" ng-href="/#/users">
    <i class="users icon"></i>
    <span>Usuarios</span>
  </a>
  <a class="item" ng-href="/#/accounting">
    <i class="money icon"></i>
    <span>Cuentas</span>
  </a>
  <a class="item" href="http://acm.ing.puc.cl">
    <i class="world icon"></i>
    <span>Sitio ACM-PUC</span>
  </a>

  <div class="right menu">
    <a class="item" href="/logout">
      <i class="sign out icon"></i>
      <span>Cerrar sesión</span>
    </a>
  </div>
</div>
<div class="spacer" ng-style="{'height': navBarCtrl.getHeight()}"></div>
