<div ng-if="appCtrl.currentUser()">
  <div class="ui left vertical inverted sidebar labeled icon menu visible">
    <a class="item" ng-href="/#/">
      <i class="home icon"></i>
      <div>Kiosko</div>
      <div>ACM-PUC</div>
    </a>
    <a class="item" ng-href="/#/productElection">
      <i class="shop icon"></i>
      <div>Votar</div>
    </a>
    <a class="item" ng-href="/#/stock">
      <i class="bar chart icon"></i>
      <div>Stock</div>
    </a>
    <a class="item" ng-href="/#/accounting" ng-if="appCtrl.currentUser().admin">
      <i class="money icon"></i>
      <div>Cuentas</div>
    </a>
    <a class="item" ng-href="/#/users">
      <i class="users icon"></i>
      <div>Usuarios</div>
    </a>
    <a class="item" href="http://acm.ing.puc.cl">
      <i class="world icon"></i>
      <div>Sitio</div>
      <div>ACM-PUC</div>
    </a>

    <a class="item" href="/logout">
      <img class="ui img" alt="user" ng-src="{{appCtrl.currentUser().facebook.photo}}"/>
      <div>Cerrar sesión</div>
    </a>
  </div>
</div>
