<div class="stock">
  <h1 class="ui huge header center aligned">
    <div class="content">
      Stock
    </div>
  </h1>

  <div class="aligner">
    <table class="ui structured compact sortable celled table">
      <thead>
        <tr class="center aligned">
          <th rowspan="2" ng-class="stockCtrl.sortingClass('name')" ng-click="stockCtrl.sortBy('name')">
            Producto
          </th>
          <th colspan="2">
            Cajas
          </th>
          <th rowspan="2" ng-class="stockCtrl.sortingClass('unitsPerPack')" ng-click="stockCtrl.sortBy('unitsPerPack')">
            Unidades/Caja
          </th>
        </tr>
        <tr class="center aligned">
          <th ng-class="stockCtrl.sortingClass('packsDisplayed')" ng-click="stockCtrl.sortBy('packsDisplayed')">
            En Kiosko
          </th>
          <th ng-class="stockCtrl.sortingClass('packsStored')" ng-click="stockCtrl.sortBy('packsStored')">
            En Bodega
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="center aligned" ng-repeat="product in stockCtrl.products">
          <td>{{ product.name }}</td>
          <td ng-class="{ 'negative disabled': product.packsDisplayed === 0 }">{{ product.packsDisplayed }}</td>
          <td ng-class="{ 'negative disabled': product.packsStored === 0 }">{{ product.packsStored }}</td>
          <td>{{ product.unitsPerPack }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
