<div class="welcome aligner flex-column">
  <div><img alt="logo-acm" class="ui medium image" src="images/logo.gif"/></div>

  <h1>
    <span ng-if="appCtrl.currentUser()">
      ¡Bienvenido {{ appCtrl.currentUser().facebook.name }}!
    </span>
    <span class="title" ng-if="!appCtrl.currentUser()">
      Kiosko ACM-PUC
    </span>
  </h1>

  <a class="ui huge facebook button" href="/auth/facebook" ng-if="!appCtrl.currentUser()">
    <i class="facebook icon"></i>
    <span>Iniciar Sesión</span>
  </a>
</div>
