body {
  align-items: stretch;
  background: #a6a2a2;
  background: linear-gradient(#a6a2a2, #fbfbf2);
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.aligner {
  align-items: center;
  display: flex;
  justify-content: center;
}

.aligner-space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.aligner-space-around {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.bar {
  align-items: baseline;
}

img.profile {
  height: 1em;
}

.views {
  flex: 1;
  position: relative;
}

.welcome {
  height: 100%;
  overflow: scroll;
  position: absolute;
  width: 100%;
}

.title {
  font-size: 2em;
}

.nominee {
  margin: 0.5em 0;
}

.progress-bar {
  height: 2.5em;
  width: 85%;
}

progress {
  background-color: #f3f3f3;
  display: inline-block;
  height: inherit;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: #e0eaf0;
}

progress::-webkit-progress-value {
  background-color: #329ad1;
}

progress + span {
  color: #ffffff;
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bolder;
  left: 2.5%;
  line-height: 1.5em;
  position: relative;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  top: -1.75em;
}

.actions {
  display: inline-block;
  height: inherit;
}

.user-list {
  columns: 3 15em;
  margin-top: 1em;
}

td input[type="text"] {
  width: 7em;
}

td input[type="number"] {
  width: 6em;
}

.message img {
  margin-right: 1em;
}

.ng-invalid {
  border-color: #fa787e !important;
}

.ng-valid {
  border-color: #78fa89 !important;
}
